
<div id="stockhistory-popup" class="white-popup mfp-hide panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa {{ button_stock_transactionHistory_icon }}"></i>&nbsp;{{ button_stock_transactionHistory}}<h3>
	</div>
	<div class="panel-body">
		<table id="stocktransactiontable" class="display" style="width:100%">
			<thead>
				<tr>
					<th>{{entry_date}}</th>
					<th>from&nbsp;{{entry_location}}</th>
					<th>from&nbsp;{{entry_ref}}</th>
					<th>to&nbsp;{{entry_location}}</th>
					<th>to&nbsp;{{entry_ref}}</th>
					<th>{{entry_qty}}</th>
					<th>{{entry_user}}</th>
				</tr>
			</thead>
		</table>
	</div>
</div>