{{ header }}{{ column_left }}
<div id="content">
	<style>
	div.dt-buttons {
		float: right;
		margin-left: 5px;
	}
	input[type="search"]::-webkit-search-cancel-button {
		-webkit-appearance: searchfield-cancel-button;
	}

	</style>
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ title }}</h1><br>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-body">
			
				<table id="stktbl" class="display" style="width:100%">
					<thead>
						<tr>
							<th>{{type}}&nbsp;{{entry_no}}</th>
							<th>{{entry_partno}}</th>
							<th>{{entry_rev}}</th>
							<th>{{entry_batch}}</th>
							<th>{{entry_batchqty}}</th>
						</tr>
						<tr class="reduced column_search">
							<th style="padding: 0px;"></th>
							<th style="padding: 0px;"></th>
							<th style="padding: 0px;"></th>
							<th style="padding: 0px;"></th>
							<th style="padding: 0px;"></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

		$('#stktbl .column_search th:not(.nosearch)').each( function () {
			$(this).html( '<input type="search" placeholder="Search"/>' );
		} );
		var dtable = $('#stktbl').DataTable( {
			columnDefs: [
				{	targets: '_all',
				},
			],
			language: { searchPlaceholder: "Search All" },
			search: {regex: true,},
			dom: 'lBfrtip',
			buttons: [
				'colvis',
			],
			colReorder: true,
			processing: true,
			serverSide: true,
			orderCellsTop: true,
			fixedHeader: true,
			responsive: true,
			stateSave: true,
			pageLength: 100,
			lengthMenu: [ [ 10, 50, 100, 200, 500,-1 ], [ 10, 50, 100, 200, 500, "ALL"] ],
			ajax: {
				url: "{{ ajax_route }}",
				data: function ( d ) {
					d.latest_only = $("#latest_only").hasClass( "ui-state-active" );
				}
			},
		});
		// Restore state
		dtable.columns().eq( 0 ).each( function ( colIdx ) {
			if(dtable.state.loaded()){
				var colSearch = dtable.state.loaded().columns[colIdx].search;
				if ( colSearch.search ) {
					$("#stktbl tr.column_search  th:nth-child("+(colIdx+1)+")  input" ).val( colSearch.search );
				}
			}
			
			$("#stktbl tr.column_search > th:nth-child("+(colIdx+1)+") > input[type=search]" ).on( 'keyup change search', function () {
				dtable.column( $(this).parent().index() ).search(this.value.replace(/;/g, "|"), true, false).draw();
			});
		});
		
		$('#stktbl').on( 'column-visibility.dt', function ( e, settings, column, state ) {
			dtable.columns().eq( 0 ).each( function ( colIdx ) {
				if(dtable.state.loaded()){
					var colSearch = dtable.state.loaded().columns[colIdx].search;
					if ( colSearch.search ) {
						$("#stktbl tr.column_search  th:nth-child("+(colIdx+1)+")  input" ).val( colSearch.search );
					}
				}
				
				$("#stktbl tr.column_search > th:nth-child("+(colIdx+1)+") > input[type=search]" ).on( 'keyup change search', function () {
					dtable.column( $(this).parent().index() ).search(this.value.replace(/;/g, "|"), true, false).draw();
				});
			});
		} );
		
		$("#stktbl_filter > label > input[type=search]").attr("data-toggle", "tooltip").attr("title", "{{Gsearchre}}");
		$("#stktbl tr.column_search input[type=search]").attr("data-toggle", "tooltip").attr("title", "{{Csearchre}}");
	});
</script>
{{ footer }}

